body{
    margin:10px;
    /*background-color:rgba(214,222,124,0.2);*/
    font-style:italic;
   
}

#siteName{
    font-family:Allura Regular;
    font-size:30px;
    margin:25px;
    padding:15px;
    padding-left:35px;
    color:tomato;
    font-style:italic;
    
}

#login >a{
    float:right;    
    font-size:16px;
    padding:10px;
    background-color:black;
    color:tomato;
    border-radius:5px;
    padding-right:35px;
    padding-left:35px;
    text-decoration:none;
}
#login>a:hover{
    text-decoration:underline;
}

#newAccount >a{
    float:right;    
    font-size:16px;
    padding:10px;
    background-color:black;
    color:tomato;
    border-radius:5px;
    padding-right:35px;
    padding-left:35px;
    text-decoration:none;
}
#newAccount>a:hover{
    text-decoration:underline;
}

ul{
    list-style-type:none;
    
}

li{
    padding:25px;
    border:1px solid grey;
    background-color:black;
    width:20%;
    color:tomato;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
}
li:hover{
    background-color:white;
    transform: scale(1.05);
    
    
}
aside{
    
}
section{
    border:1px solid grey;
    border-radius:5px;
    /*background-color:rgba(0,0,0,0.1);*/
    padding:30px;
    position:absolute;
    top:120px;
    left:30%;
    width:60%;
    box-shadow: 5px 5px black;
    -webkit-transition: all .2s ease-in-out;
    transition: all .5s ease-in-out;
    
}
section:hover{
    
    box-shadow: 5px 5px tomato;
}
#send{
    text-align:center;
    font-family:;
    font-size:24px;
    text-decoration:underline;
    color:tomato;
    font-style:italic;
    
}
h3{
    text-align:center;
    margin-top:-15px;
    color:black;
}
input{
    height:50px;
    text-align:center;
    width:400px;
    background-color:black;
    color:tomato;
    border-radius:15px;
    box-shadow: 5px 5px #888888;
    
}
input:hover{
   box-shadow: 5px 5px tomato;
}
button{
    background-color:black;
    color:grey;
    width:80px;
    height:50px;
    border-radius:5px;
    box-shadow: 2px 2px #888888;
}
button:hover{
   box-shadow: 5px 5px tomato;
}
