<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="demo.css">
</head>
<body>
    <header>
        <h1><div id="Digital Wallet">Digital Wallet</h1>
        <span id="newAccount"><a href="\wallet/signup">New Account</a><span></div>

    </header>


    <div id="send"><h2>LOGIN</h2></div>
       <h3>Enter your email id and password</h3></br>
       <form>
       <center>
        <input type="text" placeholder ="phone no."></br></br>
        <input type="password" placeholder ="Password"></br></br>
        <button>Login</button></center></br>
        
       </form>
    </section>
</body>
</html>
